<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0" />
        <title>404 page</title>
        <link rel="stylesheet" href="../css/style404.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <section class="header">
            <div class="text-box">
                <h1>404</h1>
                <p>
                    Page not found
                    <br />
                    This page doesn't exits or an other error occured.
                </p>
        </section>
    </body>    
</html>
